---
layout: default
---
<div class="post">

  <!--  Publication-->
  <header class="post-header">
    <h1 class="publication-title">Publications</h1>
    <p class="publication-description">{{ page.description }}</p>
  </header>

  <article>
    {{ content }}
  </article>


  <!--  Presentation-->
  <header class="post-header">
    <br><br><br>
    <h1 class="publication-title">Presentations</h1>
    <p class="publication-description">{{ page.description }}</p>
  </header>

  <article>
    {{ content }}
  </article>

</div>
